# **Python Variables and Data Types**  

## **Python Variables**  

- In Python, **variables store data** that can be used and manipulated throughout the program.  
- Python **automatically determines** the data type of a variable when you assign a value to it.  
- The **`=`** symbol is used for **assignment**, meaning it binds a value to a variable.  
- Python is **case-sensitive**, so `y` and `Y` are treated as different variables.  
- You can assign multiple variables in a single line using **tuple unpacking**.  

### **Example:**

In [1]:
# Assigning values to variables
x = 5  # x stores the integer value 5
print(x)

5

In [2]:

# Assigning multiple variables in one line
a, b = 1, 2  
print('a:', a, 'and b:', b)

a: 1 and b: 2

## **Numbers and Boolean**  

### **1. Integer (`int`)**  
- Whole numbers, positive or negative, without decimals.  
- Example: `-10`, `0`, `25`  

### **2. Floating Point (`float`)**  
- Numbers that include a decimal point.  
- Example: `3.14`, `-7.8`, `0.0`  
- Performing operations that result in a decimal **automatically converts** integers into floats.  

### **3. Boolean (`bool`)**  
- Represents logical values: `True` or `False`.  
- Internally, Python treats `True` as `1` and `False` as `0`.  

### **Example:**

In [3]:
# Checking variable types
m, n = 8, 8.7
print(m, 'is of type', type(m))
print(n, 'is of type', type(n))

8 is of type <class 'int'>
8.7 is of type <class 'float'>

In [4]:
# Converting between int and float
m, n = float(m), int(n)
print(m, 'is now of type', type(m))
print(n, 'is now of type', type(n))

8.0 is now of type <class 'float'>
8 is now of type <class 'int'>

In [5]:
# Boolean values
is_raining = True
is_sunny = False
print("Is it raining?", is_raining)
print("Is it sunny?", is_sunny)
print("True is equivalent to:", int(True))
print("False is equivalent to:", int(False))

Is it raining? True
Is it sunny? False
True is equivalent to: 1
False is equivalent to: 0

## **Python Strings**  

- **Strings** are sequences of characters, enclosed in either **single (`'`)** or **double (`"`)** quotes.  
- The **`str()`** function converts other data types into strings.  
- Strings can be **concatenated (joined)** using `+` or separated using commas in `print()`.  

### **Example:**

In [6]:
# Different ways to define strings
text1 = "Hello"
text2 = 'World'
print(text1 + " " + text2)  # Concatenation using '+'
print(text1, text2)  # Comma automatically adds a space

Hello World
Hello World

In [7]:
# Handling special characters using escape sequences
sentence = 'I\'m fine'  # Using a backslash (\) to escape the apostrophe
print(sentence)

I'm fine

In [8]:
# Concatenation without '+'
print('red' 'car')  # Python automatically joins adjacent string literals
print('red ' 'car')

redcar
red car

In [9]:
# Mixing strings and numbers
print("The answer is", 42)  # Using a comma (preferred)
print("The answer is " + str(42))  # Using '+' (requires conversion)

The answer is 42
The answer is 42

## **Summary**  

- Variables store data and are assigned using `=`.
- Python automatically detects data types (`int`, `float`, `bool`, `str`).
- Integers (`int`) are whole numbers, floats (`float`) have decimals.
- Boolean values (`bool`) represent `True` or `False`.
- Strings (`str`) are sequences of characters enclosed in quotes.
- Strings can be concatenated using `+` or printed using commas.