## Python Variables  

- Python **automatically determines** the data type of a value when you assign it to a variable.  
- A piece of code is referred to as a **command or program**.  
- **Running the code** means **executing it**.  
- The **=** symbol is used for **assignment** (binding a value to a variable).  
- Python is **case-sensitive**, meaning `y` and `Y` are treated as different variables.

In [16]:
x = 5 #here we assignes variable x to number 5
x

5

In [18]:
a,b = (1,2) #assinging a to 1 and b to 2 in the same line of code 
print('a: ' + str(a) +' and b: '+str(b))

a: 1 and b: 2

## Numbers and Boolean  

- **Integers:** Whole numbers, both positive and negative, without a decimal point.  
- The **`type(var)`** function returns the type of the given variable.  
- **Floating Points (Floats):** Real numbers that include a decimal point.  
- The **`int(var)`** function converts a variable into an integer.  
- The **`float(var)`** function converts a variable into a float. Additionally, adding a decimal point to a number (or performing an operation that results in a decimal) will automatically convert an integer into a float.  
- **Boolean Values:** Represent logical values, either **`True`** or **`False`**, which are internally represented as 1 and 0, respectively.

In [42]:
m,n = 8,8.7
print(str(m)+' is of type '+str(type(m))+'\n'+str(n)+' is of type '+str(type(n)) )

8 is of type <class 'int'>
8.7 is of type <class 'float'>

In [44]:
m,n = float(m),int(n)
print(str(m)+' is of type '+str(type(m))+'\n'+str(n)+' is of type '+str(type(n)) )

8.0 is of type <class 'float'>
8 is of type <class 'int'>

## Python Strings  

- **Strings:** Text values made up of a sequence of characters.  
- You can use **single (' ')** or **double (" ")** quotations to define a string.  
- The **`str()`** function converts a number (or other data types) into a string.

In [59]:
"i'm fine" #you will avoid errors here because we have ' in the sentence 
'i\'m fine'

"i'm fine"

In [73]:
'red' 'car'

'redcar'

In [63]:
'red ' 'car'

'red car'

In [71]:
print('red' , 'car')

red car

In [75]:
print(9,0)

9 0