## Arithmetic Operators

In [6]:
1 + 2 #1 and 2 are called operands

3

In [8]:
3 - 5 #-,+ are called arithmetic operators

-2

In [10]:
15/3 #because im using python 3 i will always get the result in float

5.0

In [12]:
6%3 # % obtains the remainder of the division

0

In [14]:
8*2 # * is used for multiplication

16

In [16]:
5**3 # ** is used to get the power

125

## The Double Equality Sign

In [19]:
y = 5**3 #here we are assinging 5 power 3 to y

In [21]:
y == 125 #here we read this code as y equals 125

True

In [23]:
y == 8

False

## How to Reassign Values

In [26]:
z =1
z

1

In [30]:
z=3 #the orders of the commands matters, so now z = 3 instead of 1
z

3

In [32]:
z+1

4

## Line Continuation  

You can split a long line of code into two lines using the **backslash (`\`)** for line continuation. This allows the code to be more readable without interrupting its execution.  

Example:  
```python
long_string = "This is a very long string that we want to " \
              "split across two lines for better readability."
```

In [1]:
2 + 5 -\
1

6

## Indexing Elements  

- You can index elements in a sequence (like a list, string, or tuple) by writing: **`variable[index_of_element]`**.  
- In Python, indexing starts from **0**, not 1. This means the first element is at index 0, the second at index 1, and so on.

In [52]:
"friday"[3] #this must return d

'd'

## Comparison Operations  

- **`==`**: Equal to  
- **`>`**: Greater than  
- **`<`**: Less than  
- **`>=`**: Greater than or equal to  
- **`<=`**: Less than or equal to  

The result of a comparison operation is always a **boolean** value (`True` or `False`).

In [56]:
10 == 20/2

True

In [60]:
10 != 10 #not equal

False

In [62]:
100 < 3

False

In [64]:
100 > 3

True

## Logical and Identity Operators  

- **`and`**: Evaluates whether both statements on either side are true.  
  - `True and False` → `False`  
  - `True and True` → `True`  
  - `False and False` → `False`  

- **`or`**: Checks if at least one of the two statements is true.  
  - `True or False` → `True`  
  - `True or True` → `True`  
  - `False or False` → `False`  

- **`not`**: Reverses the logical value of the statement.  
  - `not True` → `False`  
  - `not False` → `True`

In [85]:
9 > 1 and  8>3

True

In [72]:
9 == 9 or 9 == 8

True

In [81]:
not False

True