## Lists

- A **list** is a type of sequence that holds multiple data points.
- Lists are defined using **square brackets** `[ ]`.
- **Indices start from 0**, meaning the first element in the list is accessed at index 0 (e.g., `list[0]` gives the first element).
- We can count indices in the opposite direction using **negative numbers**, where `-1` refers to the last element, `-2` to the second last, and so on.
- To replace an element in a list, use the syntax: **`list[2] = new_element`** (this replaces the element at index 2 with `new_element`).
- To **delete an element**, use the **`del`** keyword: **`del list[2]`** (this deletes the element at index 2).

In [47]:
participants = ['aya','john','cate','lara']
participants

['aya', 'john', 'cate', 'lara']

In [49]:
participants[1]

'john'

In [51]:
participants[-1]

'lara'

In [53]:
participants[0]='lol'
participants

['lol', 'john', 'cate', 'lara']

In [55]:
del participants[0]
participants

['john', 'cate', 'lara']

## Using Methods

- **Built-in methods** can be applied directly to objects in Python.
- The **dot operator** (`.`) allows us to call or invoke a method on an object.
  
Some common methods for lists:

- **`.append(element)`**: Adds an element to the end of the list.
- **`.extend([list])`**: Adds all elements from another list to the existing list.
- **`.index(element)`**: Returns the index of the first occurrence of the element in the list.
- **`.sort(reverse=False)`**: Sorts the elements in the list. If **`reverse=True`**, the list is sorted in descending order.
- **`len(list)`**: Returns the number of elements in the list (just like a string).

In [58]:
participants.append('aya')
participants

['john', 'cate', 'lara', 'aya']

In [60]:
participants.extend(['lol1','lol2'])
participants

['john', 'cate', 'lara', 'aya', 'lol1', 'lol2']

In [63]:
len(participants)

6

In [76]:
participants.index('aya')

3

In [81]:
participants.sort()
participants

['aya', 'cate', 'john', 'lara', 'lol1', 'lol2']

## List Slicing

- **`list[start:end]`**: This slices the list from the `start` index to the `end` index, but the element at the `end` index is **not included**.
- **`list[start:]`**: This slices the list from the `start` index to the end of the list.
- **`list[:]`**: This slices the entire list (essentially creates a copy of the list).
- **`list[-2:]`**: This slices the last two elements of the list.
- You can also use **negative indices** for slicing, where `-1` refers to the last element, `-2` to the second last, and so on.

In [66]:
participants[1:3]

['cate', 'lara']

In [68]:
participants[:3]

['john', 'cate', 'lara']

In [70]:
participants[4:]

['lol1', 'lol2']

In [73]:
participants[-2:]

['lol1', 'lol2']

## Tuples

- **Tuples** are a type of data sequence in Python.
- **Tuples are immutable (unchangeable)**, meaning we cannot modify, append, or delete elements once they are created.
- The elements of a tuple are placed within **parentheses `()`**.
- We say the elements are **packed into a tuple** when they are assigned to a variable.

In [86]:
x = (1,2,4)
x

(1, 2, 4)

In [90]:
u = 9,84,2
u

(9, 84, 2)

In [96]:
m,n,b = 3,4,5 #tuple assignment
b

5

In [98]:
u[0]

9

Tuples do not have a `.split()` method. The **`.split()`** method is a string method, not for tuples. 

If you want to split a tuple into multiple variables, you can **unpack** it like this:

```python
my_tuple = (1, 2, 3)
a, b, c = my_tuple
```

This splits the tuple into individual variables `a`, `b`, and `c`. If you're working with strings inside a tuple, you can split them using the **`.split()`** method on the string element.

For example:

```python
my_tuple = ("apple,banana,cherry",)
split_fruit = my_tuple[0].split(',')
```

This would split the string inside the tuple into a list of fruits.

In [4]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

In [5]:
my_tuple = ("apple,banana,cherry",)
split_fruit = my_tuple[0].split(',')

In [6]:
split_fruit

['apple', 'banana', 'cherry']

#### Functions Can Provide Tuples as Return Values
In Python, functions can return tuples. This allows you to return multiple values from a function as a single, packed unit.

In [114]:
def square_info(x):
    a=x**2
    p=4*x
    return a,p
square_info(2)

(4, 8)

## Dictionaries

- **Dictionaries** are a way to store data in Python using a **key-value pair** structure.
- They are created using **curly braces `{}`**.
- To **add a new key-value pair**, you can assign a value to a new key like this: `dict[new_key] = new_value`.
- A **value** in a dictionary can be any type of data, including a **list**.

In [1]:
dict = {'k1':"cat",'k2':"dog",'k3':"hourse"}

In [122]:
print(dict['k1'])
print(dict['k3'])

cat
hourse

In [126]:
dict['k5']="duck"
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'hourse', 'k5': 'duck'}

#### Another Way to Fill in a Dictionary

In [7]:
teams = {}
teams['k1']='element1'
teams['k2']='element2'
teams['k3']='element3'
teams

{'k1': 'element1', 'k2': 'element2', 'k3': 'element3'}

#### `.get()` Method

The `.get()` method is used to **retrieve a value** from a dictionary using a **key**. It's a safer way to access values compared to directly using the key in square brackets, as it won't throw an error if the key does not exist.

Syntax:
```python
dict.get(key, default_value)
```

- **`key`**: The key whose value you want to retrieve.
- **`default_value`** (optional): A value to return if the key is not found. If not provided, it will return `None` if the key is not found.

In [133]:
teams.get('k3')

'element3'