### Using the `.format()` Method

The `.format()` method is a powerful string formatting tool in Python. It allows for dynamic string creation by inserting values into a predefined template. Hereâ€™s how it works:

#### Basic Usage
- **String-based formatting**: `.format()` is used for formatting text by replacing `{}` placeholders with the provided arguments. It works with various data types, converting them to strings.

```python
# Example using .format()
name = "Alice"
age = 30
message = "Hello, my name is {} and I am {} years old.".format(name, age)
print(message) #--> output: Hello, my name is Alice and I am 30 years old.
```

#### Types of Arguments:
1. **Positional Arguments**:
   - These are passed in the order of their appearance and inserted into the placeholders sequentially.

```python
# Positional arguments
message = "The {0} is {1} years old.".format("dog", 5)
print(message) #--> output:The dog is 5 years old.
```

2. **Keyword Arguments**:
   - These are passed with specific names and can be referenced by those names in the string.

```python
# Keyword arguments
message = "The {animal} is {age} years old.".format(animal="cat", age=3)
print(message) #--> output:The cat is 3 years old.
```

#### Mixing Positional and Keyword Arguments
You can mix both positional and keyword arguments in a single `.format()` method.

```python
# Mixing positional and keyword arguments
message = "The {0} is {age} years old.".format("rabbit", age=2)
print(message) #--> output:The rabbit is 2 years old.
```

#### Passing Lists or Objects
You can also pass entire objects or lists as arguments to `.format()`:

```python
# Passing a list
values = [10, 20, 30]
message = "First: {}, Second: {}, Third: {}".format(*values)
print(message) #--> output:First: 10, Second: 20, Third: 30
```

### Key Benefits of `.format()`:
- It allows for flexible and readable string formatting.
- You can pass variables, expressions, lists, and even objects to `.format()` and it will automatically convert them into a string format.
- Supports both positional and keyword arguments for precise control over the formatting.

### Implicit vs. Explicit Positional Arguments:
- **Explicit**: Refers to specific index numbers in the `.format()` call.
- **Implicit**: You can let the arguments be placed automatically in the order they appear in the `format()` method, without referencing their indices explicitly.

```python
# Implicit: Automatically placed in order
message = "The {} is {} years old.".format("bird", 4)
print(message)

# Explicit: Using indices
message = "The {0} is {1} years old.".format("bird", 4)
print(message)
```

In [2]:
time_horizion = 1,3,12
time_horizion #correspond to different common time periods

(1, 3, 12)

In [3]:
products = ['product A', 'product B']
products

['product A', 'product B']

In [10]:
'expected sales for a period of {} month for {}:'.format(12,'product B') #we are using positonal arguments
#python was converting the empty {} into the numbers of 0 and 1 in the background
#this is how python will treat the arguments of the .format() method by default
#this means that we could also refer to these arguments by explicitly specifying an index value within the placeholders

'expected sales for a period of 12 month for product B:'

In [7]:
'expected sales for a period of {} month for {}:'.format(time_horizion[1],products[0]) #we are using positonal arguments

'expected sales for a period of 3 month for product A:'

In [11]:
'expected sales for a period of {0} month for {1}:'.format(time_horizion[1],products[0])

'expected sales for a period of 3 month for product A:'

In [13]:
'expected sales for a period of {1} month for {0}:'.format(time_horizion[1],products[0]) #swaping the index numnbers swapped the arguments as well of the method

'expected sales for a period of product A month for 3:'

In [14]:
#now using keyword arguments:
#they are called keyword arguments or named arguments becuase you can refer to them not by using an index value in the placeholders but by using keys, which can also be thought of as their names at the same time
#to be able to use keyword arguments, you have to designate the relevant key value pairs within the {}, thus as you reference an argument by its key the format method will insert the corresponding value within the given place holder

'expected sales for a period of {t_hr} month for {prod}:'.format(t_hr = 12, prod = 'product B')

'expected sales for a period of 12 month for product B:'

In [18]:
'expected sales for a period of {t_hr[2]} month for {prod[0]}: ${sales}'.format(t_hr = time_horizion, prod = products, sales=100)

'expected sales for a period of 12 month for product A: $100'

In [19]:
#we can use both index values and keys at the same time 
'expected sales for a period of {0} month for {prod[0]}: ${sales}'.format(10, prod = products, sales=100)

'expected sales for a period of 10 month for product A: $100'

### Iterating Over a Range of Objects

In this section, we will cover essential tools for every programmer, analyst, or data scientist who uses Python.

#### **Understanding the Loop Components:**

When iterating over a collection of objects, we use a **for loop**. Here's the basic structure:

```python
for i in t:
```

- **`i`** is the **loop variable** (also called the **iterator variable**). This variable represents the current element of the iteration.
- **`t`** is the **iterable**, which is any object that can be looped over (such as lists, tuples, dictionaries, strings, and more).
- An **iterable** is typically a **sequence** (like a list or a string), but can also be any object that supports iteration, such as a file, a dictionary, or a set.

In [1]:
#to understand iterations better we will start with sequances 
t = (4,5,6,7) #tuple
l = [10.5,20.75,30.0] #list
s = 'abcde' #strings is also sequance

In [7]:
for i in t:#i is the loop variable = iterator variable 
           #t is iterable - any objact that you can iterate (loop) over (a stream or collection of separate data values)
           #iterable is expected to be a type of sequence
    print(i,end=' ')

4 5 6 7

In [9]:
for i in range(5): #when we want to loop we can simply use for i in range(n) where n is the number of iterations we desire
    print(i, end=' ')

0 1 2 3 4

### Nested Loops in Python

Python allows us to have a loop within another loop. This is known as a **nested loop**. It is useful for iterating over multi-dimensional data structures (like lists of lists or matrices) or when you need to perform more complex iterations.

#### Components of Nested Loops:
- **i-loop** is the outer loop.
- **j-loop** is the inner loop.
- The **j-loop** is **nested inside** the **i-loop**, meaning the inner loop runs for each iteration of the outer loop.

In [10]:
for i in range(2):
    print (i)

0
1

In [11]:
for j in range(5):
    print (j)

0
1
2
3
4

In [15]:
for i in range(2): #nested loops 
    for j in range(5): #the j-loop has been nested in the i-loop (or placed within/inside the i-loop)
        print([i,j])   #j-loop is an inner loop, i-loop is the outer loop
# the result is [row value,column value]

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [19]:
products = ['product a','product b']
sales = [1000, 1100,1200,1300,1400]
for i in products: 
    for j in sales:
        print([i,j])

['product a', 1000]
['product a', 1100]
['product a', 1200]
['product a', 1300]
['product a', 1400]
['product b', 1000]
['product b', 1100]
['product b', 1200]
['product b', 1300]
['product b', 1400]

### Triple Nested For Loops

In some cases, you may need to iterate over more than two levels of data. This is where **triple nested for loops** come in handy, allowing you to work with three levels of iteration. This can be useful when dealing with **3D matrices**, **data tables with multiple columns**, or any other complex data structure.


### Tips for Using Nested Loops:
1. **Use specific names for iteration variables**: This makes the code easier to understand. For example, use `row`, `col`, or `value` instead of generic names like `i`, `j`, or `k`, unless it's very clear what they represent.
   
   - `for row in matrix` instead of `for i in matrix`
   - `for col in row` instead of `for j in row`

2. **Use `.format()` method for string outputs**: Most of the time, you don't want your results in the form of a list. Instead, you may want to output them as formatted strings. The `.format()` method is a great tool to achieve this.

   Example:
   ```python
   for row in matrix:
       for col in row:
           for value in col:
               print("The value is: {}".format(value))
   ```

3. **Switching loop order**: If you switch the order of the inner loops, you can achieve the same result but with a different sorting order. This allows you to manipulate the dimensions and still get the same results without affecting the outcome.

---

### Do You Know?

- **Nested loops**: Writing triple or even more nested loops is often considered **non-Pythonic** because it can be cumbersome and inefficient, especially with large datasets.
  
- **List comprehensions**: A more **Pythonic** way to achieve similar results is by using

In [29]:
products = ['product a','product b']
sales = [1000, 1100,1200,1300,1400]
time = (1,3,12) #number of month

for prod in products: #triple nested loops 
    for sale in sales:
        for t_month in time: #the inner loop must always complete all of its iterations before we can refer to an outer loop 
            # print([prod,sale*t_month])  
            print([prod,sale,t_month])

['product a', 1000, 1]
['product a', 1000, 3]
['product a', 1000, 12]
['product a', 1100, 1]
['product a', 1100, 3]
['product a', 1100, 12]
['product a', 1200, 1]
['product a', 1200, 3]
['product a', 1200, 12]
['product a', 1300, 1]
['product a', 1300, 3]
['product a', 1300, 12]
['product a', 1400, 1]
['product a', 1400, 3]
['product a', 1400, 12]
['product b', 1000, 1]
['product b', 1000, 3]
['product b', 1000, 12]
['product b', 1100, 1]
['product b', 1100, 3]
['product b', 1100, 12]
['product b', 1200, 1]
['product b', 1200, 3]
['product b', 1200, 12]
['product b', 1300, 1]
['product b', 1300, 3]
['product b', 1300, 12]
['product b', 1400, 1]
['product b', 1400, 3]
['product b', 1400, 12]

In [33]:
products = ['product a','product b']
sales = [1000, 1100,1200,1300,1400]
time = (1,3,12) 

for prod in products: 
    for t_month in time:
        for sale in sales:
            print('expected sales for a period of {} months for {}: ${}'.format(t_month, prod,sale))

expected sales for a period of 1 months for product a: $1000
expected sales for a period of 1 months for product a: $1100
expected sales for a period of 1 months for product a: $1200
expected sales for a period of 1 months for product a: $1300
expected sales for a period of 1 months for product a: $1400
expected sales for a period of 3 months for product a: $1000
expected sales for a period of 3 months for product a: $1100
expected sales for a period of 3 months for product a: $1200
expected sales for a period of 3 months for product a: $1300
expected sales for a period of 3 months for product a: $1400
expected sales for a period of 12 months for product a: $1000
expected sales for a period of 12 months for product a: $1100
expected sales for a period of 12 months for product a: $1200
expected sales for a period of 12 months for product a: $1300
expected sales for a period of 12 months for product a: $1400
expected sales for a period of 1 months for product b: $1000
expected sales for a period of 1 months for product b: $1100
expected sales for a period of 1 months for product b: $1200
expected sales for a period of 1 months for product b: $1300
expected sales for a period of 1 months for product b: $1400
expected sales for a period of 3 months for product b: $1000
expected sales for a period of 3 months for product b: $1100
expected sales for a period of 3 months for product b: $1200
expected sales for a period of 3 months for product b: $1300
expected sales for a period of 3 months for product b: $1400
expected sales for a period of 12 months for product b: $1000
expected sales for a period of 12 months for product b: $1100
expected sales for a period of 12 months for product b: $1200
expected sales for a period of 12 months for product b: $1300
expected sales for a period of 12 months for product b: $1400

### List Comprehensions

List comprehensions are a powerful feature in Python that allow for concise and readable code to generate lists, dictionaries, and even generators. They allow for easy creation of new collections by applying transformations and filters to existing iterables in a compact syntax.

Key Features:
- **Easy to understand**: Once familiar with the syntax, they provide an intuitive way to generate lists.
- **Quick to write**: They replace verbose loops, making the code shorter and cleaner.
- **Support conditions**: You can apply conditions on both the iterable and the output.
- **Multidimensional lists**: List comprehensions can be used to generate multidimensional lists.
- **Efficient with generators**: Generator comprehensions provide memory-efficient iterators.

However, they may not always be the best choice in cases where:
- Readability suffers due to complexity.
- Memory efficiency or performance is critical, especially with large datasets.

List comprehensions are a fantastic tool for high-quality, concise code but should be used wisely depending on the context.

In [37]:
numbers = [ 1,13,4,5,63,100]

In [40]:
new_numbers = [] #create an empty list

for n in numbers: #specify a for loop 
    new_numbers.append(n*2) #append the product of each element and the number 2 to the new list
print(new_numbers) # n*2 is an output expression for an element in iterable

[2, 26, 8, 10, 126, 200]

In [41]:
new_numbers2 = [n*2 for n in numbers] #same output but less code 
print(new_numbers2)

[2, 26, 8, 10, 126, 200]

In [42]:
#another example: nested loops 
for i in range(2):
    for j in range(5):
        print(i+j, end=' ')

0 1 2 3 4 1 2 3 4 5

In [44]:
new_list_comprehension = [i+j for i in range(2) for j in range(5)]
print(new_list_comprehension)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [45]:
#another example: multidimensional list 
new_list_comprehension2 = [ [i+j for i in range(2)] for j in range(5)]
print(new_list_comprehension2)

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [47]:
#another example: setting conditions
[num **3 for num in range(1,11) if num % 2 != 0] #in a list from 1 to 10, if the number is odd we print it to the power of three

[1, 27, 125, 343, 729]

In [49]:
[num **3 if num % 2 != 0 for num in range(1,11)] #moving the condition to nexto the expression
#we will get an error because we must provide a clear indication to python about what exactly we want to be displayed in each potential outcome

SyntaxError: expected 'else' after 'if' expression (1680024650.py, line 1)

In [50]:
[num **3 if num % 2 != 0 else 'even' for num in range(1,11)] #sol: add else statement

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

In [51]:
#you can place a condition on the right of the iterable to filter out certain values from the iterable

### Lambda Functions in Python

Lambda functions, also known as anonymous functions, provide a compact way to define simple functions without naming them. 

Key Features:
- **No need to define a full function**: Lambda functions are useful when you don't need to create a whole function and just need a small piece of functionality.
- **Single expression**: They can only contain a single expression, making them less versatile but more concise for simple operations.
- **One or more parameters**: Lambda functions can take multiple parameters, but still only have one expression.
- **Limited scope**: They can only be used within the larger expression or context in which they are written.
- **Compact syntax**: They allow you to write quick functions in a single line of code, making them ideal for short tasks within complex expressions.

Lambda functions are commonly used with higher-order functions like `map()`, `filter()`, and `sorted()`, especially when a full function definition would be overkill.

In [73]:
def rais_to_power_of_2(x):
    return x ** 2
rais_to_power_of_2(3)

9

In [64]:
#this is a substitute of the function above 
lambda x : x ** 2

In [66]:
rais_to_power_of_2_lambda = lambda x : x ** 2 #a lamda function is completely equivalent to an ordinary function 
rais_to_power_of_2_lambda(3)

9

In [67]:
#another example: the value of the provided argument divided by two
(lambda x: x/2) (11) #pass the argument in ()

5.5

In [68]:
#another example: lambda can have multiple parameters
sum_xy = lambda x,y: x+y
sum_xy(2,3)

5

In [72]:
#y can also be a function of x
sum_xy = lambda x,y: x+y(x) #y is a function of x
sum_xy(2, lambda x : x * 2) #x is a numaric number but y has to be a function

6