# **Additional Python Tools**

## **String Formatting with `.format()`**

The `.format()` method in Python provides a powerful way to dynamically format strings by inserting values into predefined templates.

### **Basic Usage**
- Uses `{}` as placeholders to insert values dynamically.
- Works with various data types.

In [1]:
name = "Alice"
age = 30
message = "Hello, my name is {} and I am {} years old.".format(name, age)
print(message)
# Output: Hello, my name is Alice and I am 30 years old.

Hello, my name is Alice and I am 30 years old.

### **Types of Arguments in `.format()`**
1. **Positional Arguments**
   - Values are inserted in order.

In [3]:
message = "The {0} is {1} years old.".format("dog", 5)
print(message)
# Output: The dog is 5 years old.

The dog is 5 years old.

2. **Keyword Arguments**
   - Uses named placeholders.

In [4]:
message = "The {animal} is {age} years old.".format(animal="cat", age=3)
print(message)
# Output: The cat is 3 years old.

The cat is 3 years old.

3. **Mixing Positional and Keyword Arguments**

In [5]:
message = "The {0} is {age} years old.".format("rabbit", age=2)
print(message)
# Output: The rabbit is 2 years old.

The rabbit is 2 years old.

4. **Passing Lists or Objects**

In [6]:
values = [10, 20, 30]
message = "First: {}, Second: {}, Third: {}".format(*values)
print(message)
# Output: First: 10, Second: 20, Third: 30

First: 10, Second: 20, Third: 30

### **Key Features of `.format()`**
- Flexible and readable.
- Supports both positional and keyword arguments.
- Works with lists, objects, and expressions.

---

## **Using `.format()` in Real-world Scenarios**

In [8]:
time_horizon = (1, 3, 12)
products = ['Product A', 'Product B']

# Using positional arguments
print('Expected sales for a period of {} months for {}:'.format(12, 'Product B'))
# Output: Expected sales for a period of 12 months for Product B:

# Explicitly specifying index values
print('Expected sales for a period of {0} months for {1}:'.format(time_horizon[1], products[0]))
# Output: Expected sales for a period of 3 months for Product A:

# Swapping index numbers
print('Expected sales for a period of {1} months for {0}:'.format(time_horizon[1], products[0]))
# Output: Expected sales for a period of Product A months for 3:

# Using keyword arguments
print('Expected sales for a period of {t_hr} months for {prod}:'.format(t_hr=12, prod='Product B'))
print('Expected sales for a period of {t_hr[2]} months for {prod[0]}: ${sales}'.format(t_hr=time_horizon, prod=products, sales=100))

Expected sales for a period of 12 months for Product B:
Expected sales for a period of 3 months for Product A:
Expected sales for a period of Product A months for 3:
Expected sales for a period of 12 months for Product B:
Expected sales for a period of 12 months for Product A: $100

## **Iterating Over a Range of Objects**
### **Understanding the Loop Components**
```python
for i in t:
```
- **`i`** → loop variable (iterator).
- **`t`** → iterable (e.g., list, tuple, dictionary, string).

### **Examples of Iteration**

In [9]:
t = (4, 5, 6, 7)  # Tuple
l = [10.5, 20.75, 30.0]  # List
s = 'abcde'  # String (also a sequence)

# Iterating over a tuple
for i in t:
    print(i, end=' ')

# Using range for iteration
for i in range(5):
    print(i, end=' ')

4 5 6 7 0 1 2 3 4

## **Nested Loops**
Python supports **nested loops**, which means placing one loop inside another.

### **Example of Nested Loops**

In [10]:
for i in range(2):
    for j in range(5):
        print([i, j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

### **Triple Nested Loops**

In [11]:
products = ['Product A', 'Product B']
sales = [1000, 1100, 1200, 1300, 1400]
time_horizon = (1, 3, 12)

for prod in products:
    for sale in sales:
        for t_month in time_horizon:
            print([prod, sale, t_month])

['Product A', 1000, 1]
['Product A', 1000, 3]
['Product A', 1000, 12]
['Product A', 1100, 1]
['Product A', 1100, 3]
['Product A', 1100, 12]
['Product A', 1200, 1]
['Product A', 1200, 3]
['Product A', 1200, 12]
['Product A', 1300, 1]
['Product A', 1300, 3]
['Product A', 1300, 12]
['Product A', 1400, 1]
['Product A', 1400, 3]
['Product A', 1400, 12]
['Product B', 1000, 1]
['Product B', 1000, 3]
['Product B', 1000, 12]
['Product B', 1100, 1]
['Product B', 1100, 3]
['Product B', 1100, 12]
['Product B', 1200, 1]
['Product B', 1200, 3]
['Product B', 1200, 12]
['Product B', 1300, 1]
['Product B', 1300, 3]
['Product B', 1300, 12]
['Product B', 1400, 1]
['Product B', 1400, 3]
['Product B', 1400, 12]

### **Using `.format()` in Nested Loops**

In [12]:
for prod in products:
    for t_month in time_horizon:
        for sale in sales:
            print('Expected sales for a period of {} months for {}: ${}'.format(t_month, prod, sale))

Expected sales for a period of 1 months for Product A: $1000
Expected sales for a period of 1 months for Product A: $1100
Expected sales for a period of 1 months for Product A: $1200
Expected sales for a period of 1 months for Product A: $1300
Expected sales for a period of 1 months for Product A: $1400
Expected sales for a period of 3 months for Product A: $1000
Expected sales for a period of 3 months for Product A: $1100
Expected sales for a period of 3 months for Product A: $1200
Expected sales for a period of 3 months for Product A: $1300
Expected sales for a period of 3 months for Product A: $1400
Expected sales for a period of 12 months for Product A: $1000
Expected sales for a period of 12 months for Product A: $1100
Expected sales for a period of 12 months for Product A: $1200
Expected sales for a period of 12 months for Product A: $1300
Expected sales for a period of 12 months for Product A: $1400
Expected sales for a period of 1 months for Product B: $1000
Expected sales for a period of 1 months for Product B: $1100
Expected sales for a period of 1 months for Product B: $1200
Expected sales for a period of 1 months for Product B: $1300
Expected sales for a period of 1 months for Product B: $1400
Expected sales for a period of 3 months for Product B: $1000
Expected sales for a period of 3 months for Product B: $1100
Expected sales for a period of 3 months for Product B: $1200
Expected sales for a period of 3 months for Product B: $1300
Expected sales for a period of 3 months for Product B: $1400
Expected sales for a period of 12 months for Product B: $1000
Expected sales for a period of 12 months for Product B: $1100
Expected sales for a period of 12 months for Product B: $1200
Expected sales for a period of 12 months for Product B: $1300
Expected sales for a period of 12 months for Product B: $1400

## **List Comprehensions**
List comprehensions provide a concise way to create lists.

### **Basic Syntax**

In [13]:
numbers = [1, 13, 4, 5, 63, 100]
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

### **Nested List Comprehension**

In [14]:
new_list = [i + j for i in range(2) for j in range(5)]
print(new_list)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

### **Multidimensional List Comprehension**

In [15]:
matrix = [[i + j for i in range(2)] for j in range(5)]
print(matrix)

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

### **Using Conditions in List Comprehension**

In [16]:
[num ** 3 for num in range(1, 11) if num % 2 != 0]
# Output: Cubes only for odd numbers

[num ** 3 if num % 2 != 0 else 'even' for num in range(1, 11)]
# Output: Cubes for odd numbers, "even" for even numbers

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

## **Lambda Functions in Python**
Lambda functions are anonymous functions that can be defined in a single line.

### **Basic Syntax**

In [17]:
square = lambda x: x ** 2
print(square(5))
# Output: 25

25

### **Lambda with Multiple Arguments**

In [18]:
add = lambda x, y: x + y
print(add(3, 4))
# Output: 7

7

### **Lambda in Sorting**

In [19]:
students = [('Alice', 85), ('Bob', 90), ('Charlie', 80)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)
# Output: [('Charlie', 80), ('Alice', 85), ('Bob', 90)]

[('Charlie', 80), ('Alice', 85), ('Bob', 90)]

### **Lambda in `map()`**

In [20]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)
# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

### **Lambda in `filter()`**

In [21]:
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)
# Output: [2, 4]

[2, 4]

### **Conclusion**
This notebook covers essential **Python tools** including:
- The `.format()` method for **string formatting**.
- **Looping constructs** (basic loops, nested loops).
- **List comprehensions** for efficient iteration.
- **Lambda functions** for concise operations.